<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/save.css">
    <title>New contact</title>
</head>

<body>
    <div class="container">
        <div class="col-sm-5">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="phone">Telphone: </label>
                        <input class="form-control" id="phone" placeholder="phone number" type="tel">
                    </div>
                    <div class="form-group has-error">
                        <label for="name">Nom: </label>
                        <input type="text" class="form-control" id="name" placeholder="Nom">
                    </div>
                    <br>
                    <button type="submit" id="Crate" class="btn btn-primary btn-link">Crate</button>
                    <button type="submit" id="Cancel" class="btn btn-primary btn-link">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/save.js"></script>
</body>

</html>