<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/welcome.css">
    <link rel="shortcut icon" href="/static/tchat.png" type="image/png">
    <title>Connexion</title>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#connected">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Liste des utilisateurs</a>
            </div>
            <div class="collapse navbar-collapse" id="connected">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/groupe">Creer groupe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quit">Quitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript" src="/static/js/welcome.js"></script>
</body>

</html>