html,
body {
    height: 100%;
    margin: 0
}

.form-control {
    border: 1px solid transparent;
    border-bottom-color: gray
}

.form-control:focus {
    border: none;
}

#creer {
    position: absolute;
    right: 5%
}

.btn {
    font-size: 13px
}

.baniere {
    height: 15%;
    width: 100%;
    background-color: dimgray;
    margin-bottom: 5%
}