html,
body {
    height: 100%;
    margin: 0
}

#creer {
    position: absolute;
    right: 5%
}

.btn {
    font-size: 13px
}

.baniere {
    height: 15%;
    background-color: dimgray;
    margin-bottom: 5%
}